@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1 style="color:cornflowerblue" class="col-md-offset-3">Парти-клуб за запознанства
    </h1>
    <img class="col-sm-offset-4" style="height: 30%; width: 30%" src="@Url.Content("~/Content/Images/NewParty.jpg")" alt="" />
    <div>


        Създадохме нашия парти-клуб с желанието да стане уютно място, предлагащо различни начини за запознанства лице-в-лице между необвързани. 
        Знаем от собствен опит колко трудно е за хората с натоварено ежедневие да намерят дългосрочен партньор. 
        Ние вярваме, че всеки има право да обича и да бъде обичан и е най-добре това да става с отворени очи.
        Ако си необвързан и искаш да се запознаеш и веселиш със стотици други необвързани,
        тогава този парти-клуб е за теб, защото:
        - ще можеш да танцуваш и забавляваш с интересни и хубави хора,
        - ще можеш да се включваш в забавни игри и конкурси,
        - ще можеш да се запознаваш с всеки, когото си харесал/а,
        - или пък ще можеш просто да се се отпуснеш и да се насладиш на купона.
        
    </div>
</body>
</html>
