@{
    ViewBag.Title = "Contact";
}
<h1 class="col-sm-offset-4">Контакти</h1>

<div class="col-md-offset-3">
    <a class="btn btn-default" href="https://github.com/koksiBG">
        <img src="@Url.Content("~/Content/Images/Admin/Niki.jpg")" /> &raquo;
    </a>

    <a class="btn btn-default" href="https://github.com/MarielaBN">
        <img src="@Url.Content("~/Content/Images/Admin/Mariela.jpg")" /> &raquo;
    </a>

    <a class="btn btn-default" href="https://github.com/ValeriVK">
        <img src="@Url.Content("~/Content/Images/Admin/Valeri.jpg")" /> &raquo;
    </a>
</div>

<div class="col-md-offset-1">
    <label>
        <div class="row">
            <h3>


                Бургаски екип от 3-ма студенти в SoftUni и това е нашият първи екипен проект.
            </h3>
        </div>
    </label>
</div>

<h2 class="col-sm-offset-4">За връзка с нас:</h2>


    <div class="col-md-offset-4">

       
        <h3>E-mail:</h3>
        <li>partyclub@club.bg</li> 
        <h3>Телефон:</h3>
        <li>0888 123456</li> 
        <h3> Адрес</h3>
        <li>гр. Бургас</li>
</div>
 